html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, dl, dt, dd, 
ol, ul, li, form, table, caption, tr, th, td, article, aside, footer, header{
                 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}


body{
	height: 940px;
	background-color: black;
}
aside{
	float: left;
	width: 250px;
	height: 100%;
	background-color: white;
}
div.base{
	background-image: url(../img/taxi_1.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
}





aside.menu{
	text-align: center;
}
	.nameApp{
		font-size: 40px;
		padding-bottom: 100px;
		padding-top: 40px;
	}
	.menu >a, .menu>button{
		display: block;

		background-color: white;

		font-size: 20px;
		color: black;
		text-align: left;
		text-decoration: none;

		border: none;
		padding: 10px;
		padding-left: 30px;
	}
	.menu >a:hover, .menu >button:hover{
		background-color: #c9c3c3;
	}



header{
	background-color: rgba(0, 0, 0, .6);
	height: 10%;
	color: white;
	text-align: right;
}
	header form{
		margin-right: 100px;
		padding-top: 30px;
	}
    header button, header a{
        background-color: rgba(0, 0, 0, 0);

        color: white;
        font-size: 16px;
        text-decoration: none;

        padding: 7px;

        border-color: rgba(256, 256, 256, 1);
        border-radius: 7px;
        border-style: solid;
        border-width: 2px

}
	header form span{
		display: inline-block;
		padding-right: 15px;
		font-size: 18px;
	}


main{
	height: 85%;
}
	main p.exceptionMessage{
		margin-top: 10px;
		min-height: 50px;
		background-color: rgba(0, 0, 0, 0.7);

		font-size: 20px;
		color: white;
		text-align: center;
		padding-top: 10px;

	}
	main div.main{
		float: left;
		margin-top: 20px;
		margin-left: 100px;
		border-radius: 10px;
		background-color: rgba(0, 0, 0, 0.7);

		padding: 20px;

		font-size: 20px;
		color: white;
	}
	main table td, main table th{
		border: 2px solid white;
		margin: 0px;
		min-width: 100px;

	}
	main form div{
		margin: 20px;
	}
	main form div label{
		font-size: 26px;
		display: block;
	}
	main form div input{
		color: white;
		font-size: 20px;
		background-color: rgba(0, 0, 0, 0);
		border-top: 0px;
		border-left: 0px;
		border-right: 0px;
	}
	main form div select{
		background-color: rgba(0, 0, 0, 0);
		color: white;
		border-radius: 7px;
		padding: 5px;
		font-size: 20px;
	}
	main form div option{
		background-color: rgba(0, 0, 0, 0);
		border-radius: 7px;
		color: black;
	}
	main form textarea{
		background-color: rgba(0, 0, 0, 0);
		color: white;
		border-radius: 7px;
		padding: 5px;
		font-size: 20px;
	}
	main form button{
		margin-left: 200px;
		color: white;
		font-size: 16px;
		padding: 7px;
		border-color: rgba(256, 256, 256, 1);
		border-radius: 7px;
		background-color: rgba(0, 0, 0, 0);
	}
	main form a{
		font-size: 20px;
	}





footer{
	background-color: rgba(0, 0, 0, .6);
	height: 5%;
	text-align: center;
}
	footer span{
		display: block;
		color: white;
		padding-top: 8px; 
	}
	footer form{
		padding-top: 5px;
		float: right;
	}
	footer button{
		color: white;
		font-size: 24px;
		border-color: rgba(0, 0, 0, 0);
		background-color: rgba(0, 0, 0, 0);
	}

